@model IEnumerable<AuctionHouseWebApplication.Models.Bidder>

@{
    ViewData["Title"] = "Bidders";
}

<h2>Bidders</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomPhone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomPhone)
            </td>
            <td>
                @Html.ActionLink("Se brugerens bud", "BidderDetails", new { id=item.CustomPhone })
                
            </td>
        </tr>
}
    </tbody>
</table>
