@model IEnumerable<AuctionHouseWebApplication.Models.AuctionItemBidModel>

@{
    ViewData["Title"] = "Auction Overview";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RatingPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BidPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BidCustomName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BidCustomPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BidTimestamp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RatingPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BidPrice)
            </td>
            <td>
                <a href="@Url.Action("BidderDetails","Home",new { id = item.BidCustomPhone })">@Html.DisplayFor(modelItem => item.BidCustomName) </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BidCustomPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BidTimestamp)
            </td>
            <td>
                @Html.ActionLink("Select", "AuctionBid", new {  id=item.ItemNumber  })
            </td>
        </tr>
}
    </tbody>
</table>
